:root {
  --primary-color: #e84e09;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.caption {
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  background: url("./images/unsplashcoding.jpg") no-repeat;
  background-size: cover;
  border-bottom: 20px solid var(--primary-color);
}

p {
  color: #fff;

  margin-top: 200px;
  text-align: center;

  font-size: 4rem;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.main-img,
nav,
header > p,
button {
  position: relative;
  z-index: 3;
}

.top-img {
  display: inline-block;

  padding: 20px;
  width: 375px;
}

nav {
  float: right;
  position: absolute;
  top: 0%;
  right: 0%;

  margin: 30px 20px;
}

li {
  margin: 20px;

  display: inline;
  font-size: medium;
}

button {
  margin-top: 15px;
  left: 50%;
  transform: translate(-50%);
}

section {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 70%;
  margin: auto;
  padding: 0 32px;
  overflow: hidden;
  /* background-color: #e84e09;  */
}

.tab-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;

  align-items: center;
  justify-content: space-around;
}

.img-1 {
  padding-left: 3rem;
  height: 60%;
  width: 70%;
}

.container p {
  padding: 2rem 0;
  margin: 60px 10px;
  /* border: 10px solid red; */
  font-size: xx-large;
}

.figure {
  border: 5px solid red;
}

#para1,
#para2,
.figure {
  font-size: 20px;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  text-align: center;
  margin: auto;
}

.card1 {
  width: 250px;
  height: 180px;
  background-color: #e84e09;
  /* border: 5px solid red; */
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 50px;
  background: url("./images/webdev.jpg") no-repeat top center;
  background-size: 250px;
  position: relative;
}

.card1 {
  background-color: #e84e09;
}
.card1 > div {
  /* border: 5px solid red; */
  position: absolute;
  left: 55px;

  color: #fff;
  margin-top: 100px;

  justify-content: center;
}

.card2 {
  width: 250px;
  height: 180px;
  /* background-color: #e84e09;
  border: 5px solid red; */
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 50px;
  background: url("./images/appdev.jpg") no-repeat top center;
  background-size: 350px;

  position: relative;
}

.card2 {
  background-color: #e84e09;
}
.card2 > div {
  /* border: 5px solid red; */
  position: absolute;
  left: 55px;

  color: #fff;
  margin-top: 100px;

  justify-content: center;
}
.card3 {
  width: 250px;
  height: 180px;
  /* background-color: #e84e09;
  border: 5px solid red; */
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 50px;
  background: url("./images/ml.jpg") no-repeat top center;
  background-size: 270px;
  position: relative;
  border-radius: 5px;
}

.card3 {
  background-color: #e84e09;
}
.card3 > div {
  /* border: 5px solid red; */
  position: absolute;
  left: 55px;

  color: #fff;
  font-weight: bold;
  margin-top: 100px;

  justify-content: center;
}

.tab-2 {
  display: flex;
  flex-direction: row;
  flex: 3;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;
}

.h:hover {
  box-shadow: 5px 5px 10px #fff;
}

footer {
  background-color: var(--primary-color);
  opacity: 0.9;
  width: 100%;
  height: 100px;
  text-align: center;
}

footer p {
  font-size: 15px;
  margin-top: auto;
  padding-top: 45px;
  text-align: center;
}

@media (max-width: 600px) {
  .top-img {
    display: block;
    margin: auto;
  }

  nav {
    display: block;
    position: absolute;
    width: 100%;
    /* margin: 30px 20px; */
    margin: auto;
    padding-top: 50px;
  }
  li {
    display: block;
    margin: 60px;
    padding: 0px;
    /* margin: auto; */
    font-size: medium;
  }
  #first {
    display: block;
    /* margin-left: 60px; */
    margin-top: 80px;
  }
  #second {
    display: block;
    /* margin-left: 60px; */
    margin-top: 20px;
  }

  p {
    color: #fff;

    margin-top: 250px;
    text-align: center;

    font-size: 2.5rem;
  }

  .tab-1 {
    display: block;
    margin-top: 50px;
  }
  .img-1 {
    display: block;
    margin: auto;
    padding: 0px;
  }

  .tab-1 > p {
    font-size: x-large;
    justify-content: center;
    padding: 0px;
  }

  .btn-m {
    padding-right: 20px;
    margin-top: 30px;
  }
}
/* Buttons */

.btn-s {
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  transition: opacity;
}

.btn-s:hover {
  opacity: 0.8;
}

.btn-m {
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  transition: opacity;
  font-size: x-large;
}

.btn-m:hover {
  opacity: 0.8;
}
